body { 
    background: #000000; 
}
h1 { 
    color: rgb(0, 255, 255);
}
h2{
    color: rgb(0, 255, 255);
}
p{
    color: rgb(255, 255, 255);
}
.menu{
    color: rgb(255, 255, 255);
}
.li{
    color: rgb(255, 255, 255);
}
.li2{
    color: rgb(255, 255, 255);
}